@import url(https://fonts.googleapis.com/css?family=Inter:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
/* @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro); */
@font-face {
    font-family: "Sauce Code Pro";
    src: url(SauceCodeProNerdFontCompleteMono.ttf);
}

body {
    font-family: 'Open Sans';
    color: white;
}

table {
    display: table;
    font-weight: lighter;
    font-size: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em
}

td,th {
    border-bottom: 1px solid #bbbbbb;
    padding: 8px;
    vertical-align: middle;
}

th {
    background-color: #636363;
    color: rgb(250, 250, 250);
}

svg {
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Inter';
    font-weight: 400;
    margin-bottom: 0;
}

.remark-slide-content {
    background-image: url("../images/curveline.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.remark-slide-content h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)!important;
}

.remark-slide-content h2 {
    font-size: 2.6em;
}

.remark-slide-content h3 {
    font-size: 1.3em;
}

.footnote {
    position: absolute;
    bottom: 3em;
}

li p {
    line-height: 1.25em;
}

.red {
    color: #fa0000;
}

.green {
    color: #0D0;
}

.blue {
    color: blue;
}

.large {
    font-size: 2em;
}

a, a>code {
    color: rgb(249, 38, 114);
    text-decoration: none;
}

code {
    background: #e7e8e2;
    border-radius: 5px;
}

.remark-code, .remark-inline-code {
    font-family: 'Sauce Code Pro';
}

.remark-inline-code {
    background-color: #272822;
    color: lightgrey;
    padding-left: 5px;
    padding-right: 5px;
}

.remark-code-line-highlighted {
    background-color: #373832;
    font-weight: bold;
}

.remark-code-span-highlighted {
    background-color: #373832;
    font-weight: bold;
}

.pull-left {
    float: left;
    width: 47%;
}

.pull-right {
    float: right;
    width: 47%;
}

.pull-right~p {
    clear: both;
}

.right{
    text-align: right;
}

#slideshow .slide .content code {
    font-size: 0.8em;
}

#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}

.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

/* Slide-specific styling */

#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}

#slide-how .slides {
    font-size: 0.9em;
    position: absolute;
    top: 151px;
    right: 140px;
}

#slide-how .slides h3 {
    margin-top: 0.1em;
}

#slide-how .slides .first, #slide-how .slides .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
}

#slide-how .slides .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}

#slide-how .slides .second {
    position: relative;
    background: #fff;
    z-index: 0;
}

/* Two-column layout */

.left-column {
    width: 65%;
    height: 92%;
    float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
}

.right-column {
    width: 30%;
    float: right;
    padding-top: 1em;
}

.cols {
    display: flex;
  }
  
  .fifty {
    flex: 50%;
  }

/* Images */

.image7 img {
    max-width: 7%;
}

.image10 img {
    max-width: 10%;
}

.image15 img {
    max-width: 15%;
}

.image20 img {
    max-width: 20%;
}


.image35 img {
    max-width: 35%;
}

.image40 img {
    max-width: 40%;
}

.image50 img {
    max-width: 50%;
}

.image60 img {
    max-width: 60%;
}

.image70 img {
    max-width: 70%;
}

.image80 img {
    max-width: 80%;
}

.padtop0 {
    padding-top: 0em;
}

/* .remark-fading {
	z-index: 9;
} */

/* .remark-slide-container {
	transition: opacity 1s linear, right 1s ease-in-out;
	opacity: 0;
	right: 1000px;
}
.remark-visible {
	transition: opacity 1s linear, right 1s ease-in-out;
	opacity: 1;
	right: 0px;
}
.remark-visible ~ .remark-slide-container {
	right: -1000px;
} */

/* blockquote::before {
    content: open-quote;
    margin-right: 5px;
    font-size: 1.2em;
 } */
 
 blockquote {
   border-left: 0.3em solid #ccc;
   padding: 0 15px;
   font-style: italic;
   color: #ccc;
   quotes: "\201C""\201D""\2018""\2019";
 }
 
 /* blockquote::after {
   content: close-quote;
   margin-left: 5px;
   font-size: 1.2em;
 } */

@page {
    size: 1210px 681px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}